@using NinjaHive.WebApp.Controllers
@using NinjaHive.WebApp.Extensions
@model NinjaHive.WebApp.Models.SkillViewModel


<div class="row">
    <div class="page-header">
        @using (Html.BeginForm<SkillsController>(m => m.Delete(Guid.Empty), new { @class = "form-delete pull-right" }))
        {
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.Skill.Id, new { Name = "id" })
            <input type="submit" class="btn btn-primary" value="Delete" />
        }
        <h2>Skills <small>Edit</small></h2>
    </div>


    @using (Html.BeginForm<SkillsController>(m => m.Edit(null), new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken();
        @Html.EditorFor(m => m.Skill)

        
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary" value="Save changes" />
            </div>
        </div>
    }

    <script>
        ninjaHive.promptBeforeDelete();
    </script>
</div>