@using NinjaHive.WebApp.Areas.Items.Controllers
@using NinjaHive.WebApp.Areas.Items.Models
@using NinjaHive.WebApp.Extensions

@model OtherItemViewModel

<div class="row">
    <div class="page-header">
        <h2>
            Other Items <small>Create</small>
        </h2>
    </div>

    @using (Html.BeginForm<OtherController>(c => c.Create(Model), new { @class = "form-horizontal", role = "form"}))
    {
        @Html.AntiForgeryToken()

        @Html.EditorForModel()

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary" value="Create Item" />
            </div>
        </div>
    }

</div>