@using NinjaHive.WebApp.Areas.Items.Controllers
@using NinjaHive.WebApp.Extensions
@model NinjaHive.Contract.Models.TierModel

<div class="row">
    <div class="page-header">
        <h2>
            Create Tier <small>for @Model.EquipmentItemName</small>
        </h2>
    </div>

    @using (Html.BeginForm<TiersController>(c => c.Create(Model), new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationResultsFor(Model)

        @Html.EditorForModel()

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary" value="Create Tier" />
            </div>
        </div>
    }
    
</div>