@using NinjaHive.WebApp.Areas.Items.Controllers
@using NinjaHive.WebApp.Extensions
@model NinjaHive.WebApp.Areas.Items.Models.TierViewModel

<div class="row">
    <div class="page-header">
        @{Html.BeginForm<TiersController>(c => c.Delete(Model.Tier.Id), new { @class = "form-delete pull-right" });}
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Tier.Id, new { Name = "Id"})
            <input type="submit" class="btn btn-danger" value="Delete" />
        @{Html.EndForm();}

        <h2>
            Equipment Tier<small>Edit</small>
        </h2>
    </div>

        <br />

        @{ Html.BeginForm<TiersController>(c => c.Edit(null), new { @class = "form-horizontal", role = "form", Name = "tierEditForm" }); }
        @Html.AntiForgeryToken()

        @Html.EditorFor(m => m.Tier)

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary" value="Save changes" />
            </div>
        </div>

        @{ Html.EndForm(); }

    <script>
        ninjaHive.promptBeforeDelete();
    </script>
</div>