@using NinjaHive.WebApp.Areas.Items.Controllers
@using NinjaHive.WebApp.Extensions
@model NinjaHive.Contract.Models.EquipmentModel

<div class="page-header">
    <h2>Tiers <small>for @Model.Name</small></h2>
    @(Html.ActionLink<TiersController>("Create new Tier", c => c.Create(Model.Id), new { @class = "btn btn-primary" }))
</div>

<div class="list-group" id="tiers" role="tablist">
    @Html.DisplayFor(m => m.Tiers)
</div>