<!-- !!!WARNING!!! -->
<!-- Do NOT add real passwords and secrets into this file!!! All data in this file are fake!!! -->
<!-- !!!WARNING!!! -->
<appSettings>
  <!-- SendGrid -->
  <add key="mailAccount" value="My mail account." />
  <add key="mailPassword" value="My mail password." />
</appSettings>