<connectionStrings>
  <add name="Identity" connectionString="data source=(localdb)\mssqllocaldb;initial catalog=NinjaHive-IdentityUsers;integrated security=True;" providerName="System.Data.SqlClient" />
  <add name="NinjaHiveContext" connectionString="data source=(localdb)\mssqllocaldb;initial catalog=NinjaHive;integrated security=True;" providerName="System.Data.SqlClient" />
</connectionStrings>