@using NinjaHive.Contract.DTOs
@model ItemDto

<div class="row">
    <div class="col-md-4">
        <h2>Add an Item</h2>
        <p>Create an item by giving the item a name and pressing the button to add it.</p>
        @using (Html.BeginForm())
        {
            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            <input type="submit" value="Delete" class="btn btn-default" />
        }
    </div>
</div>

