@using NinjaHive.Contract.DTOs
@model ItemDto[]

<div class="row">
    <div class="col-md-12">
        <br/>
        <p>
            @Html.ActionLink("Create Item", "CreateItem", null, new { @class = "btn btn-default" })
        </p>
        <hr />
        <h4>List of items in the database</h4>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-md-12">     
            <p>     
                @item.Name <br />
                @Html.ActionLink("Delete Item", "DeleteItem", item)
            </p>    
     
        </div>
    }
    
</div>