@using NinjaHive.WebApp.Areas.Items.Controllers
@using NinjaHive.WebApp.Helpers
@model NinjaHive.Contract.Models.TierModel

<div class = 'list-group-item'>

    <div class="btn-group-sm pull-right">
        <a href="@(UrlProvider<TiersController>.GetUrl(c => c.Edit(Model.Id)))" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
    </div>

    <h4 class="panel-title" style="display:inline-block;">
        @Model.Name
    </h4>

</div>
