body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*custom*/
#ninjahive-content-container .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.glyphicon:hover {
  	color: darkgray;
}

.navbar .navbar-subnav{
    width:100%;
    background:#000;
}
.navbar .navbar-subnav .nav li{
    display:inline-block;
}
.navbar .navbar-subnav .nav li a{
    display:inline-block;
    background:#000;
    color:#bbb;
    font-weight:bold;
    font-size:12px;
    padding:5px 15px;
    border: 1px solid transparent;
}
.navbar .navbar-subnav .nav li.active a{
    background:#337AB7;
    border:1px solid #2E6DA4;
    color:#fff;
}
.navbar .navbar-subnav .nav li a:hover{
    color:#fff;
}
.navbar .navbar-subnav .nav li a.active{
    background:#337ab7;
    color:#fff;
}