@using NinjaHive.Contract.Models;
@using NinjaHive.WebApp.Controllers
@using NinjaHive.WebApp.Helpers
@model IEnumerable<GameItemModel>

<div class="list-group">
    @foreach (var group in Model.GroupBy(m => m.CategoryName))
    {
        <div class="panel panel-default">
            <div class="panel-heading">@group.Key</div>
            <div class="panel-body">
                @foreach (var item in Model.Where(m => m.CategoryName == group.Key))
                {
                    var url = UrlProvider<ItemsController>.GetUrl(c => c.Edit(item.Id));
                    <a href="@url" class="list-group-item">
                        <h4 class="list-group-item-heading">@item.Name</h4>
                        <p class="list-group-item-text">@item.Description</p>
                    </a>
                }
            </div>
        </div>
    }
</div>