@using NinjaHive.Contract.DTOs;
@model IEnumerable<GameItem>

<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">@item.Name</h4>
            <p class="list-group-item-text">@item.Description</p>
        </a>
    }
</div>