@using NinjaHive.WebApp.Helpers

<div class="row">
    <div class="page-header">
        <h2>
            Game Items <small>Create</small>
        </h2>
    </div>

    @{ Html.BeginForm("Create", "Items", FormMethod.Post, new { @class = "form-horizontal", role = "form" }); }
    @Html.AntiForgeryToken()

    @Html.Partial(Partials.EditGameItem)

    <div class="form-group">
        <div class="col-md-offset-10 col-md-2">
            <input type="submit" class="btn btn-primary" value="Create item"/>
        </div>
    </div>

    @{ Html.EndForm(); }
</div>