@using NinjaHive.WebApp.Controllers
@using NinjaHive.WebApp.Extensions
@using NinjaHive.WebApp.Helpers
@model NinjaHive.WebApp.Models.GameItemViewModel

<div class="row">
    <div class="page-header">
        <h2>
            Game Item <small>Create</small>
        </h2>
    </div>

    @{ Html.BeginForm<ItemsController>(c => c.Create(null), new { @class = "form-horizontal", role = "form" }); }
    @Html.AntiForgeryToken()

    @Html.Partial(Partials.EditGameItem, Model)

    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" class="btn btn-primary" value="Create item"/>
        </div>
    </div>

    @{ Html.EndForm(); }
</div>