@using NinjaHive.WebApp.Controllers
@using NinjaHive.WebApp.Extensions
@using NinjaHive.WebApp.Helpers

<div class="row">
    <div class="page-header">
        <h2>
            Game Items
            @{ var createUrl = Url.Action<ItemsController>(c => c.Create()); }
            <a class="btn btn-primary" href="@createUrl" role="button">
                Create
            </a>
        </h2>
    </div>

    <div id="ninjahive-content-container">
        <div class="loading">
            @Html.Partial(Partials.Loading)
        </div>
        <div id="ninjahive-content">

        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("#ninjahive-content").empty();
            $("#ninjahive-content-container .loading").show();

            var options = {
                @{ var getUrl = Url.Action<ItemsController>(c => c.GetGameItems()); }
                url: "@getUrl",
                cache: false,
                dataType: "html",
                success: function (responseData) {
                    $("#ninjahive-content").html(responseData);
                },
                error: function () {
                    $("#ninjahive-content").html('@Html.Partial(Partials.AjaxError)'); //TODO: accept newlines Html.Raw?
                },
                complete: function () {
                    $("#ninjahive-content-container .loading").hide();
                }
            };

            $.ajax(options);
        });
    </script>
}