@using NinjaHive.Contract.Models
@using NinjaHive.WebApp.Areas.Items.Controllers
@using NinjaHive.WebApp.Extensions
@using NinjaHive.WebApp.Helpers

@model IEnumerable<EquipmentModel>


<div class="row">
    <div class="page-header">
        <h2>Equipment Items</h2>
        @( Html.ActionLink<EquipmentController>("Create new Equipment Item", c => c.Create(), new { @class = "btn btn-primary" }))
    </div>
</div>

@Html.Partial(Partials.GameItemsList, Model)