@using NinjaHive.WebApp.Extensions
@model NinjaHive.Contract.Models.TierModel

<div class="col-md-12">
    <div class="col-md-6">

        @Html.HiddenFor(m => m.Id)

        @Html.FormGroupFor(m => m.Name)

        @Html.FormGroupFor(m => m.Tier)

    </div>
</div>
