@using NinjaHive.Contract.Models
@using NinjaHive.WebApp.Controllers
@using NinjaHive.WebApp.Extensions
@model SubCategoryModel

@using (Html.BeginForm<CategoriesController>(c => c.AddSubCategory(Model)))
{
    @Html.HiddenFor(m => m.MainCategoryId)
    
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-12" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <input type="submit" class="btn btn-primary" value="Add sub category" />
        </div>
    </div>
}