@using NinjaHive.WebApp.Extensions
@using NinjaHive.Contract.Models
@using NinjaHive.WebApp.Controllers
@model IReadOnlyCollection<MainCategoryModel>

<div class="row">

    <div class="page-header">
        <h2>Categories</h2>
        @( Html.ActionLink<CategoriesController>("Create new Main Category", c => c.CreateMainCategory(), new { @class = "btn btn-primary" }) )
    </div>

    <div id="ninjahive-content-container">
        <div id="ninjahive-content">

            @foreach (var mainCategory in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @mainCategory.Name
                    </div>

                    <div class="panel-body">
                        @( Html.ActionLink<CategoriesController>("Create new Sub Category", c => c.CreateSubCategory(mainCategory.Id), new {@class = "btn btn-primary"}) )
                    </div>

                    <ul class="list-group">
                        @foreach (var subCategory in mainCategory.SubCategories)
                        {
                            <li class="list-group-item">@subCategory.Name</li>
                        }
                    </ul>
                </div>
            }

        </div>
    </div>

</div>