@using NinjaHive.Contract.Models
@using NinjaHive.WebApp.Helpers
@model IEnumerable<CategoryModel>

<div class="row">
    <div class="page-header">
        <h2>Categories</h2>
    </div>

    <div id="ninjahive-content-container">
        <div id="ninjahive-content">
            <div class="col-md-4">
                <div class="list-group" id="categories">
                    @foreach (var category in Model)
                    {
                        <a href="#" class="list-group-item">
                            @category.Name
                            <span id="@category.Id" class="glyphicon glyphicon-remove" style="float: right"></span>
                        </a>
                    }
                </div>
                @if (!Model.Any())
                {
                    <div class="alert alert-danger" role="alert">
                        No Categories
                    </div>
                }
            </div>

            <div class="col-md-8">
                @Html.Partial(Partials.CategoryForm, new CategoryModel())
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/extensions")

@section Scripts{
    <script>
        $(function() {
            $(".glyphicon-remove").on("click", function (e) {
                var id = e.target.id;
                @*TODO: prevent crsf*@
                $.post("Categories/GetLinkedGameItems/" + id, function (data) {
                    if (data != null && !data.length) {
                        $.post("Categories/Delete/" + id, function() {
                            $(e.target).parent().remove();
                        });
                    } else {
                        //TODO: nice model dialog with list of gameitems
                        alert("Cannot delete category because it is linked to game items");
                    }
                });
            });
        });
    </script>
}