@using NinjaHive.Contract.DTOs
@model ItemDto

@*TODO: make a pretty page using Twitter Bootstrap, see: http://getbootstrap.com/*@
@section JavaScript
{
    <script type="text/javascript" src="../../Scripts/externals/SparkPreviewer.js"></script>
}


<div class="">
    @using (Html.BeginForm())
    {
        <header class="modal-header">
            <h2>Details: @Model.Name</h2>
            <input type="submit" value="Save" name="Save" class="btn btn-default" />
        </header>

        <div class="panel-default">
            <div class="col-lg-7 panel panel-heading" style="margin: 0; padding: 0; left: 0; margin-top: 10px; margin-bottom: 10px;">
                <div class="panel-heading panel-title" style="background: rgb(53, 106, 181); color:white; text-indent: 10px;">
                    General Informations
                </div>

                <table class="table table-bordered text-right text-uppercase" style="bottom: 0; margin:0; padding:0; min-height: 220px;">
                    <tr>
                        <td style="vertical-align: middle;  font-weight:bold;"> Name </td>
                        <td> @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @style = "max-width: 100%;" })</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;  font-weight:bold;"> Type </td>
                        <td>
                            @{
                                var items = new List<SelectListItem>
                                {
                                    new SelectListItem
                                    {
                                        Text = "Type",
                                        Value= "Type",
                                        Selected= true,
                                    },

                                        new SelectListItem
                                    {
                                        Text = "Type2",
                                        Value= "Type2",
                                        Selected= false,
                                    },
                                };
                            }

                            @Html.DropDownList("temp", items, new { @class = "form-control", @style = "max-width: 100%;" })
                        </td>
                    </tr>
                    <tr>
                        <td><span style="top: 7px; position:relative;  font-weight:bold;"> Description </span></td>
                        <td> @Html.TextArea("temp", new { @class = "form-control", @style = "max-width: 100%; resize:vertical;" }) </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel-default col-lg-push-1 col-lg-4 row" style="min-height: 200px; margin-top: 10px; margin-bottom: 10px;">
            <canvas id="sparkViewer" width="800" height="600" style="width:100%; height:inherit;">
                You have to update your broswer to use the SparkViewer viewer
            </canvas>
        </div>
    }
</div>
