@using NinjaHive.WebApp.Controllers
@using NinjaHive.WebApp.Extensions
<hgroup class="title">
    <h1>Password changed</h1>
</hgroup>
<div class="alert alert-success" role="alert">
    <p>
        Your password has been successfully changed!
    </p>
    @{ var url = Html.ActionLink<AccountController>("here", c => c.Login("/")); }
    <p>
        Click @url to sign in with your new password.
    </p>
</div>
