@using NinjaHive.WebApp.Controllers
@using NinjaHive.WebApp.Extensions
@model NinjaHive.WebApp.Identity.ApplicationUser

<div class="page-header">
    <h1>Resend email confirmation</h1>
</div>
<div class="alert alert-success" role="alert">
    An email confirmation has been resent to this recipient: <b>@Model.Email</b><br />
    Click @(Html.ActionLink<AccountController>("here", c => c.ManageUsers())) to return to the list.
</div>