@using NinjaHive.WebApp.Areas.Items.Models
@using NinjaHive.WebApp.Helpers
@using NinjaHive.WebApp.Extensions
@model OtherItemViewModel

@Html.Partial(Partials.EditGameItem, Model)

<div class="col-md-12">

    @Html.EditorFor(m => m.Item.StatInfo)

    <div class="col-md-6">
        @Html.FormGroupFor(m => m.Item.IsEnhancer)
    </div>
</div>