@using NinjaHive.WebApp.Controllers
@using NinjaHive.WebApp.Extensions

@if (Request.IsAuthenticated)
{
    @*TODO: 'active' placement*@
    <ul class="nav navbar-nav">
        <li class="active">
            @{ var itemsAnchor = Html.HtmlActionLink<ItemsController>("Items", c => c.Index()); }
            @itemsAnchor
        </li>
        <li class="">
            @{ var categoriesAnchor = Html.HtmlActionLink<CategoriesController>("Categories", c => c.Index()); }
            @categoriesAnchor
        </li>
    </ul>
}