@using NinjaHive.WebApp.Areas.Items.Controllers
@using NinjaHive.WebApp.Controllers
@using NinjaHive.WebApp.Extensions
@using NinjaHive.WebApp.Helpers

@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        @{
            var currentPage = Request.Url.AbsolutePath;
            var actionLinks = new Dictionary<string, MvcHtmlString>
            {
                {"Items", Html.ActionLink<EquipmentController>("Items", c => c.Index())},
                {"Categories", Html.ActionLink<CategoriesController>("Categories", c => c.Index())},
                {"Skills", Html.ActionLink<SkillsController>("Skills", c => c.Index())}
            };
            var routeData = ViewContext.RouteData.Values;
            string pageCategory = (routeData["Area"] ?? routeData["Controller"]).ToString();

            foreach (var pair in actionLinks)
            {
                if (pageCategory == pair.Key)
                {
                    @:<li class="active">
                }
                else
                {
                    @:<li>
                }
                @pair.Value
                @:</li>
            }
        }
    </ul>
}