@using NinjaHive.WebApp.Controllers
@using NinjaHive.WebApp.Extensions

@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li class="active">
            @{ var homeAnchor = Html.HtmlActionLink<ItemsController>("Home", c => c.Index()); }
            @homeAnchor
        </li>
    </ul>
}