@using NinjaHive.Core.Extensions;
@model NinjaHive.Contract.IValidatable

@if (Model.ValidationResults.Any())
{
    //TODO: make it more eye catchy and handle with newlines etc
    <div class="alert alert-danger" role="alert">
        @Model.ValidationResults.TranslateToMessages()
    </div>
}